@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
rel="stylesheet" />')
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{ 
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    }
    
body{
    font-family: Roboto;
    font-size: 12px;
}

.titulares{
    font-size: 24px;
}

.precio{
    font-size:18px;
}

.descuento{
    font-size:16px;
}

h4{
    font-size: 16px;
}
