@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
:root{ 
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    }
    
body{
    font-family: Roboto;
    font-size: 12px;
}

header{
    background-color: var(--amarillo);
    text-align: center;
}

main{
    text-align: center;
    width: 90%;
}
main article{
    padding: 10px;
}

.fa-truck{
    color: var(--verde);
    font-size: 1rem;
    border: 1px solid #39b54a;
    border-radius: 50%;
    padding: 5px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -15px;
}
.producto-descripcion{
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

.descuento{
    color: #39b54a
}
.titulares{
    font-size: 24px;
}

.precio{
    font-size:18px;
}

.descuento{
    font-size:16px;
}

.descripcion{
    font-size: 16px;
}

.burger-menu {
    text-align: center;
}

.burger-menu i {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 9px;
}

footer .articulos{
    text-align: center;
    color: var(--gris-oscuro);
}

footer .articulos i{
    font-size: 2em;
    margin-bottom: 10px;
    color:var(--celeste);
}

.banner{
    width: 100%;
}